.tab {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  gap: 5px;
  position: relative;
}
.tab > * {
  color: white;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1.6rem;
  border: none;
}
/* .tab > *:hover {
  background-color: var(--blue-500);
} */
.active {
  transition: all;
  transition-duration: 300ms;
  background-color: var(--blue-500);
}
.research {
  position: absolute;
  right: 0px;
  padding: 11px;
  background-color: red;
  z-index: 10;
  top: 0px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.research > * {
  font-size: 1.6rem;
  transform: scale(1.8);
}
